@import url('https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import 'bootstrap-icons/font/bootstrap-icons.css';

.comic-relief {
  font-family: "Comic Relief", system-ui;
}

.relative-container:hover {
    background-color: orange;
}

.relative-container:hover img {
    opacity: 0.2;
}

.relative-container:hover h2 {
    background-color: transparent;
    top: 50%;
}

.playlistCardSection > div:first-child {
    background-color: oklch(87.9% 0.169 91.605);
}

.playing::before {
    content: "Reproduciendo";
    color: red;
    font-weight: bold;
    position: absolute;
    top: -5px;
}

@custom-variant elegance {
  &:where([data-theme="elegance"], [data-theme="elegance"] *) {
    @slot;
  }
}

@custom-variant dark {
  &:where([data-theme="dark"], [data-theme="dark"] *) {
    @slot;
  }
}


@theme {

    /* Neutral elegance */
    --color-elegance-100: oklch(0.9136 0.03 63.64);
    --color-elegance-200: oklch(0.9136 0.0583 63.64);
    --color-elegance-300: oklch(0.8095 0.024 65.39);
    --color-elegance-400: oklch(0.6124 0.0472 62.19);
    --color-elegance-500: oklch(0.4307 0.0548 61.35);
    --color-elegance-600: oklch(0.36 0.0548 61.35);
} 